
{block content}

<div id="middle-page">

<h1>Kontakt</h1>


<div id="contact">

<p>Můj profil: <a href="http://cz.linkedin.com/pub/jana-%C5%A1%C5%A5astn%C3%A1/73/98/2a9" title="přejít na linkedIn" target="_blank">linkedIn</a></p>

<p>E-mail: <a href="mailto:stastna.bc[zavinac]seznam.cz" title="stastna.bc[zavinac]seznam.cz">stastna.bc[zavinac]seznam.cz</a></p>

</div>

</div>
{/block}